<div
  id="login-container"
  class="flex h-full w-full flex-col justify-center gap-y-5 md:flex-row md:items-center md:gap-y-0"
>
  <div class="mx-auto w-full text-center sm:w-1/2 md:w-[40vw] md:text-left">
    <h1 class="text-7xl font-bold text-gray-600">ForFe</h1>
    <p>
      ForFe helps you to manage and organize fines for Universitas Multimedia
      Nusantara organizations.
    </p>
  </div>
  <div
    class="w-xs sm:w-sm md:w-md mx-auto rounded-lg bg-neutral-100 p-8 shadow-md"
  >
    <p class="mb-6 text-center">Log in to your account</p>
    <form
      id="login-form"
      hx-post="{{ .BaseURL }}/auth/login"
      hx-trigger="submit"
      hx-target="#login-container"
      hx-swap="beforeend"
    >
      <div class="mb-4">
        <label class="mb-2 block text-sm font-semibold" for="email"
          >Email</label
        >
        <input
          id="email"
          type="email"
          name="email"
          placeholder="Enter your email"
          required
          class="w-full rounded-lg border border-gray-300 p-2 focus:outline-none focus:ring-2 focus:ring-gray-400"
          title="Please enter a valid email address (e.g., user@example.com)"
          autocomplete="on"
        />
      </div>

      <!-- Password -->
      <div class="mb-6">
        <label class="mb-2 block text-sm font-semibold" for="password"
          >Password</label
        >
        <div class="relative">
          <input
            id="register-password"
            type="password"
            name="password"
            placeholder="Password"
            required
            class="w-full rounded border border-gray-300 p-2 focus:outline-none focus:ring-2 focus:ring-gray-400"
            pattern=".{8,}"
            title="Password must be at least 8 characters"
            oninput="triggerTogglePassword(this.value, 'toggle-password')"
          />

          <img
            id="toggle-password"
            src="../icons/eye_closed.svg"
            class="absolute right-4 top-[50%] hidden -translate-y-1/2 transform cursor-pointer"
            onclick="togglePassword('register-password', this)"
            alt="Show or Hide Password Icon"
          />
        </div>
      </div>

      <button
        type="submit"
        class="w-full cursor-pointer rounded bg-gray-700 py-2 font-semibold text-neutral-100 transition duration-200 hover:opacity-85"
      >
        Log In
      </button>
    </form>

    <div class="mt-4 text-center">
      <a href="#" class="text-gray-600 hover:underline">Forgot Password?</a>
    </div>

    <div class="mt-6 text-center">
      <p>Don't have an account?</p>
      <a
        href="/register"
        hx-push-url="true"
        class="font-semibold text-gray-600 hover:underline"
      >
        Sign Up
      </a>
    </div>
  </div>
</div>
