<div
  id="register-container"
  class="flex h-full w-full flex-col justify-center gap-y-5 md:gap-y-0"
>
  <h1 class="mb-5 text-center text-5xl font-bold text-gray-600">ForFe</h1>
  <div
    class="w-xs sm:w-sm md:w-md mx-auto rounded-lg bg-neutral-100 p-6 shadow-md"
  >
    <h1 class="mb-4 text-center text-3xl font-bold text-gray-700">Sign Up</h1>
    <p class="mb-6 text-center text-black">It's quick and easy.</p>

    <!-- Register Form -->
    <form
      id="register-form"
      class="gap-y-4"
      hx-post="{{ .BaseURL }}/auth/register"
      hx-trigger="submit"
      hx-target="#register-container"
      hx-swap="beforeend"
    >
      <!-- Name -->
      <input
        type="text"
        name="name"
        placeholder="Name"
        required
        class="w-full rounded border border-gray-300 p-2 focus:outline-none focus:ring-2 focus:ring-gray-400"
        pattern="^[a-zA-Z\s]+$"
        title="Only letters and spaces allowed"
        autocomplete="on"
      />

      <!-- Email -->
      <input
        type="email"
        name="email"
        placeholder="Email"
        required
        class="w-full rounded border border-gray-300 p-2 focus:outline-none focus:ring-2 focus:ring-gray-400"
        title="Please enter a valid email address (e.g., user@example.com)"
        autocomplete="on"
      />

      <!-- Password -->
      <div class="relative">
        <input
          id="register-password"
          type="password"
          name="password"
          placeholder="Password"
          required
          class="w-full rounded border border-gray-300 p-2 focus:outline-none focus:ring-2 focus:ring-gray-400"
          pattern=".{8,}"
          title="Password must be at least 8 characters"
          oninput="triggerTogglePassword(this.value, 'toggle-password')"
        />

        <img
          id="toggle-password"
          src="../icons/eye_closed.svg"
          class="absolute right-4 top-[50%] hidden -translate-y-1/2 transform cursor-pointer"
          onclick="togglePassword('register-password', this)"
        />
      </div>

      <!-- Confirm Password -->
      <div class="relative">
        <input
          id="register-confirm-password"
          type="password"
          name="confirmPassword"
          placeholder="Confirm Password"
          required
          class="w-full rounded border border-gray-300 p-2 focus:outline-none focus:ring-2 focus:ring-gray-400"
          pattern=".{8,}"
          title="Confirm password must be at least 8 characters"
          oninput="triggerTogglePassword(this.value, 'toggle-confirm-password')"
        />

        <img
          id="toggle-confirm-password"
          src="../icons/eye_closed.svg"
          class="absolute right-4 top-[50%] hidden -translate-y-1/2 transform cursor-pointer"
          onclick="togglePassword('register-confirm-password', this)"
        />
      </div>

      <!-- Submit Button -->
      <button
        type="submit"
        class="w-full cursor-pointer rounded bg-gray-700 py-2 text-lg font-semibold text-neutral-100 transition hover:opacity-85"
      >
        Sign Up
      </button>
    </form>

    <hr class="my-6" />
    <div class="text-center">
      <a
        href="/login"
        hx-push-url="true"
        class="cursor-pointer font-semibold text-gray-700 hover:underline"
      >
        Already have an account?
      </a>
    </div>
  </div>
</div>
