# HTMX Frontend
# Package
frontend/node_modules
frontend/package.json
# Tailwind CLI output css file
frontend/styles/tailwind
# env file
frontend/.env
# Prettier plugin
frontend/*.yml

# ======================================================

# Golang Gateway

# Golang Backend
# Binaries for programs and plugins
gateway/*.exe
gateway/*.exe~
gateway/*.dll
gateway/*.so
gateway/*.dylib
# Test binary, built with `go test -c`
gateway/*.test
# Output of the go coverage tool, specifically when used with LiteIDE
gateway/*.out
# Dependency directories (remove the comment below to include it)
gateway/vendor/
# Go workspace file
gateway/go.work
gateway/go.work.sum
# env file
gateway/.env
# Prettier development 
gateway/*.json
gateway/*.yml
gateway/node_modules

# ======================================================

# Golang Backend
# Binaries for programs and plugins
backend/*.exe
backend/*.exe~
backend/*.dll
backend/*.so
backend/*.dylib
# Test binary, built with `go test -c`
backend/*.test
# Output of the go coverage tool, specifically when used with LiteIDE
backend/*.out
# Dependency directories (remove the comment below to include it)
backend/vendor/
# Go workspace file
backend/go.work
backend/go.work.sum
# env file
backend/.env