# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# HTMX Frontend
frontend/node_modules
frontend/dist
frontend/.env
frontend/*.map
frontend/package.json

# Golang Backend
backend/bin/
backend/*.exe
backend/*.out
backend/*.test
backend/coverage/
backend/go.sum