<div class="min-h-screen w-64 bg-gray-300 p-4">
  <!-- User Info -->
  <div hx-get="partials/user-info-not-logged-in.html" hx-trigger="load"></div>

  <hr class="my-4 border-gray-600" />

  <div>
    <div
      class="flex cursor-pointer justify-between rounded-[0.5em] px-2 py-1 hover:bg-neutral-100"
      onclick="toggleOrganizationList()"
    >
      <h2>Organizations</h2>
      <span hx-get="icons/caret-down.html" hx-trigger="load"></span>
    </div>
    <!-- <ul
      id="org-list"
      class="hidden"
      hx-get="partials/organization-list.html"
      hx-trigger="load"
    ></ul> -->
  </div>
</div>
