{{ range . }}
<li>
  <ul
    id="organization-list"
    class="md:rounded-t-0 fixed bottom-[6rem] hidden max-h-[15rem] w-[50%] overflow-y-auto rounded-b-[0.5rem] rounded-t-[0.5rem] bg-neutral-100 shadow-[0_0_7.5px_rgba(0,0,0)] md:static md:mb-1 md:w-auto md:bg-inherit md:shadow-sm"
  >
    <li class="cursor-pointer py-1">
      <div class="flex items-center gap-x-2 pl-4 pr-2 hover:text-neutral-100">
        <img
          src="{{ .OrganizationPhoto }}"
          class="aspect-[1/1] h-5 w-5 rounded-full"
          alt="{{ .OrganizationTitle }} Photo"
        />
        <p class="overflow-hidden text-ellipsis whitespace-nowrap">
          {{ .OrganizationTitle }}
        </p>
      </div>
    </li>
  </ul>
</li>
{{else}}
<ul
  id="organization-list"
  class="md:rounded-t-0 fixed bottom-[6rem] hidden max-h-[15rem] w-[50%] overflow-y-auto rounded-b-[0.5rem] rounded-t-[0.5rem] bg-neutral-100 shadow-[0_0_7.5px_rgba(0,0,0)] md:static md:mb-1 md:w-auto md:bg-inherit md:shadow-sm"
>
  <li class="p-2 text-gray-400 md:py-1 md:pl-4 md:pr-2">
    No organization joined.
  </li>
</ul>
{{end}}
